@import 'normalize.css';
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700');

$primary-color: black;
$accent: maroon;

body { font-family: 'Playfair Display'; }

p {
  font-size: large;
  color: $primary-color;
}

.top-nav { display: none; }
.bg-dark { background-color: #eb1c21 !important; }

.container-fluid {
  padding-left: 0;
  padding-right: 0;

  .row {
    margin-right: 0;
    margin-left: 0;
    height: 600px;
    color: rgb(53, 53, 53);
  }

  .marko-logo {
    width: 200px;
  }

  .section {
    min-height: 700px;
    border-top: 20px solid #eb1c21;

    h1, p {
      padding-left: 15px;
      padding-right: 15px;
    }
  }

  .img-fluid.banner {
    height: 412px;
  }
}

.mobile-nav {
  .navbar {
    .mobnav > li{
      font-size: 2.5em;
      padding-right: .5em;
      line-height: 1.25em;
    }
  }

  .navbar-dark .navbar-nav .nav-link {
    color: white;
  }

  .nav-icons { height: 20px; }

  .navbar-brand {
    margin: 0;
    padding-left: 15px;
  }
}

#main {
  background-image: url('/static/bill.jpg');
  background-size: cover;
  min-height: 686px;
  margin-bottom: 0;

  h1, p {
    color: rgb(53, 53, 53);
    width: 212px;
  }

  .container {
    position: absolute;
  }
}

#main-about {
  background-color: #ffd100;
  min-height: 342px;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {

  .mobile-nav { display: none; }
  .top-nav { display: block; }

  .navbar {
    .navbar-brand {
      color: $accent;
    }
    .navbar-nav > li{
      padding-left:20px;
      padding-right:20px;
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .navbar-nav > li{
    padding-left:30px;
    padding-right:30px;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}
