@import 'normalize.css';
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700');
@import url('https://fonts.googleapis.com/css?family=Gothic+A1:400,700');

$primary-color: black;
$accent: maroon;

body {
  font-family: 'Playfair Display';
 }

p {
  font-size: medium;
  color: $primary-color;
  font-family: 'Gothic A1', sans-serif;
}

.top-nav { display: none; }
.bg-dark { background-color: #eb1c21 !important; }

.container-fluid {
  padding-left: 0;
  padding-right: 0;

  .row {
    margin-right: 0;
    margin-left: 0;
    color: rgb(53, 53, 53);
  }

  .marko-logo {
    width: 200px;
  }

  .section {
    // min-height: 700px;
    // border-top: .5px solid #cecece;

    h1, h2, h3, h4, h5, p {
      padding-left: 15px;
      padding-right: 15px;
    }
  }

  .options {
    padding-top: 1.5em;
    padding-bottom: 2em;
    background-color: #141440;
    color: white;

    p {
      color: white;
    }
  }

  .legacy {
    padding-bottom: 5em;
    padding-top: 2em;
    width: 100%;
  }

  .cta {
    text-align: left;
    background:  linear-gradient(to bottom,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.45)
    ), url('/static/cta.jpg') no-repeat center center fixed;
    background-size: cover;
    color: white;
    height: 500px;
    padding-top: 22em;
    padding-left: 15px;
  }

  .btn .btn-primary:focus {
    outline: 0;
  }

  .img-fluid.banner {
    height: 412px;
  }
}

#accordion {
  .btn, .btn-link, .btn-link:focus, .btn-link:hover, .btn-link:active {
    text-decoration: none !important;
    color: rgb(53, 53, 53) !important;
  }

  .card-header {
    background-color: white;
    border-bottom: none;
  }
}

.mobile-nav {
  .navbar {
    .mobnav > li{
      font-size: 2.5em;
      padding-right: .5em;
      line-height: 1.25em;
    }
  }

  .navbar-dark .navbar-nav .nav-link {
    color: white;
  }

  .nav-icons { height: 20px; }

  .navbar-brand {
    margin: 0;
    padding-left: 15px;
  }
}

#main {
  background-image: url('/static/half-bill.jpg');
  background-size: cover;
  min-height: 686px;
  margin-bottom: 0;

  h1, p {
    color: rgb(53, 53, 53);
    width: 184px;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {

  .mobile-nav { display: none; }
  .top-nav { display: block; }

  .navbar {
    .navbar-brand {
      color: $accent;
    }
    .navbar-nav > li{
      padding-left:20px;
      padding-right:20px;
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .navbar-nav > li{
    padding-left:30px;
    padding-right:30px;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}
